extends ../layout

block content
  .container
    .col-md-6.center.float-none
    h1 Assigned Teacher
        table.table.table-bordered.cl
          thead.thead-light
            tr
              th(scope="col") First Name
              th(scope="col") Last Name
              th(scope="col") Email
              th(scope="col") Address
              th(scope="col") Mobile
              th(scope="col") Gender
          tbody
            tr
              td= teacher.details.firstname
              td= teacher.details.lastname
              td= teacher.email
              td= teacher.details.address
              td= teacher.details.mobile
              td= teacher.details.gender
        h1 List of students
        table.table.table-bordered.cl
          thead.thead-light
            tr
              th(scope="col") First Name
              th(scope="col") Last Name
              th(scope="col") Gender
              th(scope="col") Dob
          tbody
          each student in students
            tr
             td= student.details.firstname
             td= student.details.lastname
             td= student.details.gender
             td= moment(student.dob).format('YYYY-MM-DD')
        a.btn.btn-primary(type='submit', href='/school-classes') Cancel
