extends ../layout

block content
  h1 #{title}
  if teacher
    h2 = Current Teacher: #{teacher.firstname} #{teacher.lastname}
  form(method='POST', action='/school-classes/' + schoolClass._id + '/teacher/set')
      .form-group
        .class
         br
         label Select Teacher name
         br
         select(name='teacher')
          option(value='') Not available
          each teacher in teachers
            option(value=''+teacher._id) #{teacher.details.firstname} #{teacher.details.lastname}
         br
         br
         input.btn.btn-primary(type='submit', value='Submit')
         a.btn.btn-primary(type='submit', href='/school-classes') Cancel
