extends ../layout

block content
  .container
    script.
        monthLabels="#{monthLabels}";
        monthAbsentCnts="#{monthAbsentCnts}";
        annualAbsentCnt="#{annualAbsentCnt}";
        annualPresentCnt="#{annualPresentCnt}";
        annualLateCnt="#{annualLateCnt}";
    .col-md-5.float-none
        h1 Monthly Absence
        canvas(id="myBarChart", width="500", height="500")
        script(src='/javascript/barchart.js')
    .col-md-5.float-none
        h1 Annual Attendance
        canvas(id="myPieChart", width="400", height="400")
        script(src='/javascript/piechart.js')
    script(src='/javascript/graphs.js')
